body {
    font-family: Helvetica, arial, sans-serif;
    background-color: #FFFFFF;
}

header, section, footer, nav {
    width: 960px;
    margin: 0px auto 0px auto;
}

header{
    margin-top: 30px;
}

header h1 {
    font-weight: bold;
    font-size: 2em;
    padding-bottom: 10px;
    
}

#result {
	display: none;
}

#user, #url {
    width: 600px; 
}

section h1{
    padding-bottom: 10px;
    border-bottom: solid 1px #AAAAAA;
}

section h2{
    display: block;
    background-color: #F3F3F3;
    border-radius: 5px;
    width: 290px;
    padding: 5px 10px;  
    font-size: 1.3em;
}

#question h2 {
    width: 940px;
}

nav {
    display: block;
    background-color: #F3F3F3;
    color: #444;
    border: 1px solid #CCC;
    background-image: -webkit-linear-gradient(top,#FEFEFE,#F3F3F3);
    background-image: -moz-linear-gradient(top,#FEFEFE,#F3F3F3);
    text-align: center;
    border-radius: 3px;
    height: 30px;
    font-size: 14px;
    margin-bottom: 30px;  
}

nav ul li {
    float: left;
    display: block;
    margin: 8px 0px 8px 20px;
    padding-right: 20px;
    border-right: solid 1px #CCC;
}

nav ul li:last-of-type{
    clear: both;
}

nav ul {
    display: block;
    margin: 0px;
    padding: 0px;
}

td {
    margin: 10px;
	font-size: 1.0em;
    line-height: 1.4em;
}

th{
    background-color: #F3F3F3;
    border-radius: 5px;
    width: 290px;
    padding: 5px 10px;  
    font-size: 1.3em;
}


.articles li {
	list-style-type: circle;
}

#holder{
    width: 620px;
    float: left;
    margin : 10px;
}